train:
  eval_basic_task:
    EvaluationTask:
      _target_: "trax.learning.trainer.EvaluationTask"
      labeled_data: "${data.eval_basic_task.make_additional_stream}"
      metrics:
        - "${train.WeightedCategoryAccuracy}"
        - "${train.SequenceAccuracy}"
      metric_names:
        - "Single instruction accuracy"
        - "Single instruction sequence accuracy"
  eval_rationale_task:
    EvaluationTask:
      _target_: "trax.learning.trainer.EvaluationTask"
      labeled_data: "${data.eval_rationale_task.make_additional_stream}"
      metrics:
        - "${train.WeightedCategoryAccuracy}"
        - "${train.SequenceAccuracy}"
      metric_names:
        - "Rationale accuracy"
        - "Rationale sequence accuracy"
  eval_category_task:
    EvaluationTask:
      _target_: "trax.learning.trainer.EvaluationTask"
      labeled_data: "${data.eval_category_task.make_additional_stream}"
      metrics:
        - "${train.WeightedCategoryAccuracy}"
        - "${train.SequenceAccuracy}"
      metric_names:
        - "Category accuracy"
        - "Category sequence accuracy"
  eval_order_prediction_task:
    EvaluationTask:
      _target_: "trax.learning.trainer.EvaluationTask"
      labeled_data: "${data.eval_order_prediction_task.make_additional_stream}"
      metrics:
        - "${train.WeightedCategoryAccuracy}"
        - "${train.SequenceAccuracy}"
      metric_names:
        - "Order prediction accuracy"
        - "Order prediction sequence accuracy"
  eval_full_inference:
    EvaluationTask:
      _target_: "trax.learning.trainer.EvaluationTask"
      labeled_data: "${data.eval_full_inference.make_additional_stream}"
      metrics:
        - "${train.WeightedCategoryAccuracy}"
        - "${train.SequenceAccuracy}"
      metric_names:
        - "Full program accuracy"
        - "Full program sequence accuracy"
  eval_correct_answer_task:
    EvaluationTask:
      _target_: "trax.learning.trainer.EvaluationTask"
      labeled_data: "${data.eval_correct_answer_task.make_additional_stream}"
      metrics:
        - "${train.WeightedCategoryAccuracy}"
        - "${train.SequenceAccuracy}"
      metric_names:
        - "Correct answer accuracy"
        - "Correct answer sequence accuracy"
  eval_correct_answer_given_reasoning_task:
    EvaluationTask:
      _target_: "trax.learning.trainer.EvaluationTask"
      labeled_data: "${data.eval_correct_answer_given_reasoning_task.make_additional_stream}"
      metrics:
        - "${train.WeightedCategoryAccuracy}"
        - "${train.SequenceAccuracy}"
      metric_names:
        - "Correct answer given reasoning accuracy"
        - "Correct answer given reasoning sequence accuracy"
  WeightedCategoryAccuracy:
    _target_: "trax.layers.WeightedCategoryAccuracy"
  SequenceAccuracy:
    _target_: "trax.layers.SequenceAccuracy"
  train:
    optimizer: "${optim.Adafactor}"
    eval_frequency: 20
    eval_steps: 10
    inputs: "${data.make_streams}"
    model: "${model.ConfigurableTransformer}"
    steps: 1000000
    additional_eval_tasks:
      - "${train.eval_basic_task.EvaluationTask}"
      - "${train.eval_rationale_task.EvaluationTask}"
      - "${train.eval_category_task.EvaluationTask}"
      - "${train.eval_full_inference.EvaluationTask}"
      - "${train.eval_correct_answer_task.EvaluationTask}"
      - "${train.eval_correct_answer_given_reasoning_task.EvaluationTask}"
      - "${train.eval_order_prediction_task.EvaluationTask}"
