model:
  data_streams:
    _target_: "trax.models.data_streams"
    data_dir: null
    dataset_name: "c4/en:2.3.0"
    input_name: "inputs"
    target_name: "targets"
    bare_preprocess_fn: "${data.c4_bare_preprocess_fn}"
  unsupervised:
    _target_: "trax.models.unsupervised"
    preprocessors:
      - "${data.select_random_chunk}"
      - "${data.split_tokens}"
      - "${data.denoise}"
  reduce_concat_tokens:
    _target_: "trax.models.reduce_concat_tokens"
    batch_size: 128
    feature_key: "targets"
  random_spans_helper:
    _target_: "trax.models.random_spans_helper"
    extra_tokens_per_span_inputs: 1
    extra_tokens_per_span_targets: 1
    inputs_length: 512
    mean_noise_span_length: 3.0
    noise_density: 0.15
