defaults:
  - base
  - _self_

model:
  MultiplicativeConvCausalAttention:
    _target_: "trax.layers.MultiplicativeConvCausalAttention"
    sparsity: 16
    length_kernel_size: 3
  ConfigurableTransformer:
    _target_: "trax.models.ConfigurableTransformer"
    _partial_: true
    d_model: 1024
    d_ff: 4096
    dropout: 0.1
    ff_dropout: 0.1
    ff_chunk_size: 0
    ff_sparsity: 0
    max_len: "max_length"
    n_heads: 16
    n_encoder_layers: 24
    n_decoder_layers: 24
    input_vocab_size: 32000
    encoder_attention_type: "${model.Attention}"
    encoder_decoder_attention_type: "${model.CausalAttention}"
    loss_sparsity: 0
  Transformer2:
    _target_: "trax.models.Transformer2"
    d_model: 1024
    d_ff: 4096
    dropout: 0.1
    max_len: "max_length"
    mode: "train"
    n_heads: 16
    n_encoder_layers: 24
    n_decoder_layers: 24
    input_vocab_size: 32000
  SelfAttention:
    _target_: "trax.layers.SelfAttention"
    attention_dropout: 0.1
    chunk_len: null
  LSHSelfAttention:
    _target_: "trax.layers.LSHSelfAttention"
    attention_dropout: 0.1
    chunk_len: 128
    n_buckets: null
    n_chunks_after: 0
    n_chunks_before: 1
    n_hashes: 2
    n_parallel_heads: 1
    predict_drop_len: "max_length"
    predict_mem_len: "max_length"
  ref2_encoder:
    LSHSelfAttention:
      _target_: "trax.layers.LSHSelfAttention"
      n_chunks_after: 1
  ConfigurableTerraformer:
    _target_: "trax.models.ConfigurableTerraformer"
    d_model: 1024
    d_ff: 4096
    dropout: 0.1
    ff_activation: "${model.Relu}"
    ff_dropout: 0.1
    ff_chunk_size: 0
    ff_sparsity: 0
    max_len: "max_length"
    mode: "train"
    n_heads: 16
    n_encoder_layers: 24
    n_decoder_layers: 24
    input_vocab_size: 32000
    d_attention_key: 64
    d_attention_value: 64
    encoder_attention_type: "${model.Attention}"
    encoder_decoder_attention_type: "${model.CausalAttention}"
    n_layers_forget: 0
    pos_type: null
